@charset "UTF-8";
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
/* Base files. */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:700");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active {
  outline: 0; }
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  display: block; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
body {
  font-size: 100%;
  line-height: 1.6;
  color: #1E1E1E; }

a {
  color: #1eaedb; }
  a:hover {
    color: #1b9cc5; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1; }

.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

.scale-with-grid {
  display: block;
  width: 100%;
  height: auto; }

/* Modules */
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 550px) {
  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.6666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.column {
    width: 48%; }

  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.6666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%; } }
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.button,
button {
  display: inline-block;
  padding: 20px 65px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover {
  color: #333;
  border-color: #888888;
  outline: 0; }

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #333;
  border-color: #888888;
  outline: 0; }

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #333;
  border-color: #888888;
  outline: 0; }

.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: #1E1E1E;
  border-color: #1E1E1E; }

input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #fff;
  background-color: #1E1E1E;
  border-color: #1E1E1E; }

.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb; }

input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb; }

.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb; }

input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb; }
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 30px;
  box-shadow: none;
  box-sizing: border-box; }

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 30px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #1E1E1E;
  outline: 0; }

textarea:focus,
select:focus {
  border: 1px solid #1E1E1E;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

.remove-bottom {
  margin-bottom: 0; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 30px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

@font-face {
  font-family: "fs_joey";
  src: url("fonts/fs_joey/fs_joey.eot");
  src: url("fonts/fs_joey/fs_joey.eot?#iefix") format("embedded-opentype"), url("fonts/fs_joey/fs_joey.woff") format("woff"), url("fonts/fs_joey/fs_joey.ttf") format("truetype"), url("fonts/fs_joey/fs_joey.svg#fs_joey") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "fs_joey-light";
  src: url("fonts/fs_joey-light/fs_joey-light.eot");
  src: url("fonts/fs_joey-light/fs_joey-light.eot?#iefix") format("embedded-opentype"), url("fonts/fs_joey-light/fs_joey-light.woff") format("woff"), url("fonts/fs_joey-light/fs_joey-light.ttf") format("truetype"), url("fonts/fs_joey-light/fs_joey-light.svg#fs_joey-light") format("svg");
  font-style: normal;
  font-weight: normal; }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

body {
  font-family: fs_joey; }

h1 {
  font-size: 4.250em;
  line-height: 1.2;
  font-family: "fs_joey-light"; }

h2 {
  font-size: 2.750em;
  line-height: 1.25;
  font-family: "fs_joey-light"; }

h3 {
  font-size: 2.250em;
  line-height: 1.3;
  font-family: "fs_joey-light"; }

h4 {
  font-size: 1.875em;
  line-height: 1.35;
  font-family: "fs_joey-light"; }

h5 {
  font-size: 1.125em;
  line-height: 1em;
  font-family: 'fs_joey'; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6; }

p {
  font-size: 1.000em;
  line-height: 1.4em;
  margin-bottom: 14px; }
  p.smallPara {
    font-size: 0.750em; }

strong {
  font-family: 'Titillium Web', sans-serif; }

a {
  text-decoration: none; }

.text-centered {
  text-align: center; }

p {
  margin-top: 0; }

/* Bespoke Styles */
@keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.buttonAvios {
  display: block;
  border: 2px solid #fff;
  color: #fff;
  background: rgba(255, 255, 255, 0);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 336px;
  margin: 0 auto;
  font-size: 1.188em;
  line-height: 1em;
  padding: 18px 60px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  letter-spacing: 1px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  font-family: fs_joey; }
  .buttonAvios:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff; }
  .buttonAvios.buttonHidden {
    display: none;
    text-align: center; }
  .buttonAvios .arrow {
    border: solid #001F4D;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px; }
    .buttonAvios .arrow.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }

.hidden {
  display: none; }

.paraxify {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }

#cookie-law {
  top: 0px;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  z-index: 2; }
  #cookie-law p {
    margin: 0px; }

.header {
  position: relative;
  padding: 260px 0; }
  .header .nav {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 5px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1; }
    .header .nav ul {
      text-align: center; }
      .header .nav ul li {
        border-left: 1px solid #9195a9;
        list-style: none;
        display: inline-block; }
        .header .nav ul li:first-of-type {
          border-left: none; }
        .header .nav ul li.noBorder {
          border-left: none; }
        .header .nav ul li.borderRight {
          border-right: 1px solid #9195a9; }
        .header .nav ul li a {
          padding: 0 18px;
          display: block;
          vertical-align: middle;
          color: #fff;
          font-size: 1.125em;
          line-height: 1em;
          font-family: 'fs_joey-light'; }
          .header .nav ul li a:hover {
            color: #0099FF;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
        .header .nav ul li .logo {
          width: 90px;
          vertical-align: middle;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          display: inline; }
    .header .nav .mobileLogo {
      display: none; }
  .header.scrolled .nav {
    background: #fff;
    padding: 10px 0;
    position: fixed; }
    .header.scrolled .nav ul li a {
      color: #004899; }
    .header.scrolled .nav ul li .logo {
      width: 70px;
      vertical-align: middle; }
  .header .headerContent h1 {
    color: #fff;
    margin: 0 0 30px 0; }
  .header .headerContent p {
    color: #fff;
    margin: 0 0 90px 0;
    padding: 0 45px; }
  .header .headerContent .downArrow {
    position: absolute;
    left: 0px;
    bottom: 50px;
    width: 100%; }
    .header .headerContent .downArrow .arrows {
      width: 60px;
      height: 35px;
      margin: 0 auto; }
      .header .headerContent .downArrow .arrows path {
        stroke: #fff;
        fill: transparent;
        stroke-width: 1px;
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite; }
        .header .headerContent .downArrow .arrows path.a1 {
          animation-delay: -1s;
          -webkit-animation-delay: -1s;
          /* Safari 和 Chrome */ }
  .header .backgroundVideo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .header #nav-icon {
    display: none;
    width: 24px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 5; }
    .header #nav-icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #000000;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      .header #nav-icon span:nth-child(1) {
        top: 0px; }
      .header #nav-icon span:nth-child(2) {
        top: 9px; }
      .header #nav-icon span:nth-child(3) {
        top: 9px; }
      .header #nav-icon span:nth-child(4) {
        top: 18px; }
    .header #nav-icon.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    .header #nav-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .header #nav-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .header #nav-icon.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }

.languageBar {
  width: 130px;
  position: absolute;
  top: 1px;
  right: 20px; }
  .languageBar .selectize-control {
    position: relative; }
    .languageBar .selectize-control.selectize-input, .languageBar .selectize-control.selectize-dropdown {
      position: relative; }
  .languageBar .selectize-input, .languageBar .selectize-dropdown {
    padding: 8px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.875em;
    position: relative; }
    .languageBar .selectize-input span, .languageBar .selectize-dropdown span {
      display: inline; }
    .languageBar .selectize-input img, .languageBar .selectize-dropdown img {
      display: inline; }
    .languageBar .selectize-input input, .languageBar .selectize-dropdown input {
      display: none; }
    .languageBar .selectize-input:after, .languageBar .selectize-dropdown:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0;
      border-color: grey transparent transparent; }
  .languageBar .selectize-dropdown {
    border-top: 1px solid #fff; }
    .languageBar .selectize-dropdown a {
      color: inherit; }
    .languageBar .selectize-dropdown:after {
      display: none; }

.padding {
  padding: 100px 0; }

.remove-bottom {
  margin-bottom: 0px; }

.contentArea.whiteContentArea {
  background: #fff; }
  .contentArea.whiteContentArea h2 {
    color: #001F4D; }
  .contentArea.whiteContentArea h3 {
    margin: 0 0 40px 0;
    color: #001F4D; }
    .contentArea.whiteContentArea h3.body-color-text {
      color: #1E1E1E; }
  .contentArea.whiteContentArea p {
    color: #666666; }
.contentArea .internalLogos {
  position: relative; }
  .contentArea .internalLogos .scale-with-grid {
    height: auto;
    margin: 0 auto;
    vertical-align: middle; }
  .contentArea .internalLogos .row .logoColumn {
    padding: 26px 0;
    text-align: center; }
    .contentArea .internalLogos .row .logoColumn img {
      width: 100%;
      height: auto;
      margin: 0 auto; }
      .contentArea .internalLogos .row .logoColumn img.aerLingus {
        max-width: 125px; }
      .contentArea .internalLogos .row .logoColumn img.BAairlines {
        max-width: 125px; }
      .contentArea .internalLogos .row .logoColumn img.openSkies {
        max-width: 110px; }
      .contentArea .internalLogos .row .logoColumn img.flyBelogo {
        max-width: 60px; }
      .contentArea .internalLogos .row .logoColumn img.iberiaLogo {
        max-width: 110px; }
      .contentArea .internalLogos .row .logoColumn img.iberiaLogo {
        max-width: 110px; }
      .contentArea .internalLogos .row .logoColumn img.kululalogo {
        max-width: 102px; }
      .contentArea .internalLogos .row .logoColumn img.levelLogo {
        max-width: 80px; }
      .contentArea .internalLogos .row .logoColumn img.meridianaLogo {
        max-width: 100px; }
      .contentArea .internalLogos .row .logoColumn img.vuelingLogo {
        max-width: 75px; }
  .contentArea .internalLogos .sideLogo {
    width: 100px;
    margin: 0 auto;
    padding: 70px 0; }
  .contentArea .internalLogos:before {
    content: '';
    width: 109px;
    height: 225px;
    background: url(../img/flow.svg) no-repeat right top;
    position: absolute;
    left: 70%;
    top: 2%;
    display: block; }
.contentArea .icon {
  margin-bottom: 20px;
  max-width: 60px;
  width: 45px; }
  .contentArea .icon img {
    width: 100%;
    height: auto; }
  .contentArea .icon.iconNumber {
    width: 50px;
    margin-bottom: 12px; }
  .contentArea .icon.iconPlane {
    width: 46px;
    margin-bottom: 16px; }
  .contentArea .icon.iconEarth {
    width: 42px; }
  .contentArea .icon.iconStar {
    margin-bottom: 17px; }
  .contentArea .icon.iconPerson {
    width: 38px; }
  .contentArea .icon.targetIcon {
    width: 50px; }
  .contentArea .icon.euroIcon {
    width: 42px; }
  .contentArea .icon.spendIcon {
    margin-bottom: 17px; }
.contentArea.greyContentArea {
  background: #363636; }
  .contentArea.greyContentArea h3 {
    color: #fff; }
  .contentArea.greyContentArea h5 {
    color: #fff; }
  .contentArea.greyContentArea p {
    color: #fff;
    margin: 0 0 14px 0;
    font-family: 'fs_joey-light'; }
    .contentArea.greyContentArea p.remove-bottom {
      margin-bottom: 0px; }
.contentArea.blueContentArea p {
  color: #fff;
  margin: 0 0 14px 0;
  font-family: 'fs_joey-light'; }
  .contentArea.blueContentArea p.remove-bottom {
    margin-bottom: 0px; }
  .contentArea.blueContentArea p.smallPara {
    margin: 0; }

.blueContentAreaBGImageOne {
  background-image: url("../img/Coupleclimbingmountain-478806622new.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.blueContentAreaBGImageTwo {
  background-image: url("../img/girloncliffgazing.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.blueContentAreaBGImageThree {
  background-image: url("../img/how-to-spend-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.parallaxSection {
  padding: 325px 0; }
  .parallaxSection .whiteBackground {
    padding: 50px 35px;
    background: rgba(255, 255, 255, 0.8); }
    .parallaxSection .whiteBackground h4 {
      color: #001F47; }
    .parallaxSection .whiteBackground .buttonAvios {
      color: #001F47;
      border-color: #001F47;
      background: none;
      margin: 0;
      border-width: 2px;
      max-width: 360px; }
      .parallaxSection .whiteBackground .buttonAvios:hover {
        opacity: 1;
        background: #001F47;
        color: #fff; }

.parallaxSectionOne {
  background-image: url(../img/contactless-payment--537499433-COPY.jpg);
  background-position: center center; }

.parallaxSectionTwo {
  background-image: url(../img/Girl-in-cafe-buying-online-606222520-copy.jpg);
  background-position: center center; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.greyContentAreaForm h5 {
  margin: 0 0 30px 0; }
.greyContentAreaForm .row label {
  color: #fff;
  line-height: 45px;
  font-weight: 200;
  margin-bottom: 0;
  font-family: "fs_joey-light"; }
.greyContentAreaForm .row input {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none; }
.greyContentAreaForm .row input[type="submit"] {
  display: block;
  border: 2px solid #fff;
  height: 50px;
  color: #fff;
  background: rgba(255, 255, 255, 0);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 336px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 46px;
  font-size: 1.188em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  letter-spacing: 1px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  font-family: fs_joey;
  text-transform: none; }
  .greyContentAreaForm .row input[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff; }
.greyContentAreaForm .row .tick {
  width: 26px;
  float: left; }
  .greyContentAreaForm .row .tick input {
    width: 20px;
    height: 20px;
    margin: 0px; }
.greyContentAreaForm .row .tickLabel label {
  font-size: 0.750em;
  line-height: 1.2em; }
.greyContentAreaForm .errorMessages li {
  list-style: none;
  margin: 0 0 10px 0;
  color: red; }
.greyContentAreaForm .successMessage ul {
  text-align: center; }
  .greyContentAreaForm .successMessage ul li {
    display: inline-block;
    margin: 0 10px 0 0;
    color: #fff;
    font-size: 1em;
    line-height: 1em; }
    .greyContentAreaForm .successMessage ul li a {
      color: #FFCF2B;
      text-decoration: none; }

.resultsContent .header {
  padding: 50px 0 0 0; }
  .resultsContent .header .logo {
    width: 100%;
    max-width: 130px;
    margin: 0 auto;
    margin-bottom: 30px; }
.resultsContent h1 {
  color: #001F4D;
  text-align: center; }
.resultsContent .downloadListing {
  padding: 50px; }
  .resultsContent .downloadListing table {
    width: 100%; }
    .resultsContent .downloadListing table tr th {
      color: #001F4D;
      font-size: 0.875em;
      border: none; }
    .resultsContent .downloadListing table tr td {
      color: #001F4D;
      font-size: 0.875em;
      border: none; }

.footer .footerTop {
  padding: 40px 0;
  background: #f2f2f2; }
  .footer .footerTop ul {
    margin: 10px 0 0 0; }
    .footer .footerTop ul li {
      border-left: 1px solid #9195a9;
      list-style: none;
      display: inline-block;
      margin: 0; }
      .footer .footerTop ul li:first-of-type {
        border-left: 0px; }
        .footer .footerTop ul li:first-of-type a {
          padding-left: 0px; }
      .footer .footerTop ul li a {
        padding: 0 10px;
        font-size: 0.750em;
        line-height: 1em;
        display: block;
        color: #0099FF;
        text-decoration: none;
        font-family: 'Titillium Web', sans-serif; }
        .footer .footerTop ul li a:hover {
          text-decoration: underline; }
  .footer .footerTop p {
    font-size: 0.750em;
    text-align: right;
    line-height: 1em;
    margin: 20px 0 0 0; }
.footer .footerBottom {
  padding: 60px 0; }
  .footer .footerBottom .row {
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer .footerBottom .row .footerLogo {
      width: 10%;
      padding: 0 10px;
      text-align: center; }
      .footer .footerBottom .row .footerLogo img {
        margin: 0 auto; }
      .footer .footerBottom .row .footerLogo .FlyBeLogo {
        max-width: 50px; }

@media (max-width: 1024px) {
  .languageBar {
    display: none; }

  .paraxify {
    background-attachment: inherit; } }
@media (max-width: 1000px) {
  .button {
    font-size: 0.75em; }

  .hideMobile {
    display: none; }

  .header .nav {
    background: #fff;
    padding: 10px 5px 14px 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed; }
    .header .nav .mobileLogo {
      width: 50px; }
    .header .nav #nav-icon {
      display: block;
      position: absolute; }
    .header .nav .mobileLogo {
      display: block; }
  .header.scrolled .nav {
    padding: 10px 5px 14px 5px; }
  .header .hiddenNavContainer {
    position: absolute;
    left: 0px;
    top: 80px;
    display: none;
    background: #090b33;
    padding: 0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header .hiddenNavContainer.open {
      display: block; }
    .header .hiddenNavContainer ul li {
      text-align: left;
      display: block;
      margin: 0px; }
      .header .hiddenNavContainer ul li.hiddenMobile {
        display: none; }
      .header .hiddenNavContainer ul li a {
        padding: 18px 30px; }
        .header .hiddenNavContainer ul li a:hover {
          color: #fff; }

  .parallaxSection {
    padding: 200px 0; } }
@media (max-width: 768px) {
  .contentArea .internalLogos:before {
    left: 65%; } }
@media (max-width: 767px) {
  .buttonAvios {
    font-size: 0.75em;
    max-width: 70%;
    padding: 10px; }
    .buttonAvios.buttonHidden {
      display: block;
      border-color: #001F4D;
      color: #001F4D; }

  .hiddenMobile {
    display: none; }
    .hiddenMobile.show {
      display: block; }

  .header {
    padding: 0px; }
    .header .backgroundVideo {
      position: relative;
      width: 100%;
      height: 200px;
      background: url(../img/video/headerVideo.png) no-repeat center center;
      background-size: cover;
      z-index: 0;
      margin-top: 83px; }
      .header .backgroundVideo div {
        display: none; }
    .header .headerContent {
      padding: 20px 0;
      border-bottom: 1px dotted #666666; }
      .header .headerContent h1 {
        color: #1E1E1E;
        font-size: 1.375em;
        margin: 0 0 15px 0; }
      .header .headerContent p {
        color: #1E1E1E;
        font-size: 0.688em;
        margin: 0 0 15px 0;
        padding: 0; }
      .header .headerContent .buttonAvios {
        border-color: #1E1E1E;
        color: #1E1E1E; }
      .header .headerContent .downArrow {
        display: none; }
    .header .hiddenNavContainer {
      position: absolute;
      left: 0px;
      top: 80px;
      display: none;
      background: #090b33;
      padding: 0px; }
      .header .hiddenNavContainer.open {
        display: block; }
      .header .hiddenNavContainer ul li {
        text-align: left;
        display: block;
        margin: 0px; }
        .header .hiddenNavContainer ul li.hiddenMobile {
          display: none; }
        .header .hiddenNavContainer ul li a {
          padding: 18px 30px; }
          .header .hiddenNavContainer ul li a:hover {
            color: #fff; }

  .contentArea.padding {
    padding: 50px 0; }
  .contentArea h2 {
    font-size: 1.625em; }
  .contentArea h3 {
    font-size: 1em; }
  .contentArea p {
    font-size: 0.875em; }
  .contentArea .internalLogos .row .logoColumn img {
    max-width: 70%;
    width: 70%; }
  .contentArea .internalLogos .sideLogo {
    padding-bottom: 0px; }
  .contentArea.whiteContentArea h3 {
    margin: 0 0 15px 0; }
  .contentArea.blueContentArea {
    background: #194584;
    background-image: none !important;
    text-align: center;
    padding-bottom: 0px; }
    .contentArea.blueContentArea .icon {
      margin: 0 auto;
      margin-bottom: 20px;
      width: 60px; }
  .contentArea.greyContentArea {
    text-align: center; }
    .contentArea.greyContentArea .mobileBox {
      margin-bottom: 0px;
      border-bottom: none; }
  .contentArea.blueContentArea .smallPara {
    margin: 0 0 40px 0 !important; }

  .mobileDivider {
    width: 100%;
    height: 10px;
    background: #f7f7f7; }

  .parallaxSection .six.columns {
    width: 100%;
    margin: 0px; }
  .parallaxSection.parallaxSectionOne {
    padding: 300px 0 20px 0;
    background-attachment: inherit;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #f7f7f7; }
    .parallaxSection.parallaxSectionOne .whiteBackground {
      background: #fff;
      text-align: center; }
      .parallaxSection.parallaxSectionOne .whiteBackground .button {
        margin: 0 auto; }
  .parallaxSection.parallaxSectionTwo {
    padding: 300px 0 20px 0;
    background-attachment: inherit;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #f7f7f7; }
    .parallaxSection.parallaxSectionTwo .whiteBackground {
      background: #fff;
      text-align: center; }
      .parallaxSection.parallaxSectionTwo .whiteBackground .button {
        margin: 0 auto; }

  .greyContentAreaForm .row label {
    text-align: left; }
  .greyContentAreaForm .row .tick {
    display: table-cell; }
  .greyContentAreaForm .row .tickLabel {
    display: table-cell; } }
@media (max-width: 414px) {
  .button {
    max-width: 100%; }

  .contentArea.padding {
    padding: 50px 0; }
  .contentArea h2 {
    font-size: 1.625em; }
  .contentArea h3 {
    font-size: 1em; }
  .contentArea p {
    font-size: 0.875em; }
  .contentArea .internalLogos .row .logoColumn {
    width: 33%; }
    .contentArea .internalLogos .row .logoColumn img {
      max-width: 70%;
      width: 70%; }
  .contentArea .internalLogos:before {
    background: url(../img/flowHorizontal.svg) no-repeat center bottom;
    width: 90%;
    height: 100px;
    left: 5%;
    top: 50%; }
  .contentArea .internalLogos .sideLogo {
    padding-bottom: 0px; }
  .contentArea.whiteContentArea h3 {
    margin: 0 0 15px 0; }
  .contentArea.blueContentArea {
    background: #194584;
    background-image: none !important;
    text-align: center;
    padding-bottom: 0px; }
    .contentArea.blueContentArea .icon {
      margin: 0 auto;
      margin-bottom: 20px;
      width: 60px; }
  .contentArea .noPaddingMobile {
    padding: 0px; }
    .contentArea .noPaddingMobile .mobileBox {
      padding: 0 10% 50px 10%;
      border-bottom: 1px solid #fff;
      margin: 0 0 50px 0; }
      .contentArea .noPaddingMobile .mobileBox:last-of-type {
        border-bottom: none;
        margin: 0px; }
  .contentArea.greyContentArea {
    text-align: center; }
    .contentArea.greyContentArea .mobileBox {
      margin-bottom: 0px;
      border-bottom: none; }
  .contentArea.blueContentArea .smallPara {
    margin: 0 0 40px 0 !important; }

  .parallaxSection.parallaxSectionOne {
    padding: 300px 0 20px 0;
    background-attachment: inherit;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #f7f7f7; }
    .parallaxSection.parallaxSectionOne .whiteBackground {
      background: #fff;
      text-align: center; }
      .parallaxSection.parallaxSectionOne .whiteBackground .button {
        margin: 0 auto; }
  .parallaxSection.parallaxSectionTwo {
    padding: 300px 0 20px 0;
    background-attachment: inherit;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #f7f7f7; }
    .parallaxSection.parallaxSectionTwo .whiteBackground {
      background: #fff;
      text-align: center; }
      .parallaxSection.parallaxSectionTwo .whiteBackground .button {
        margin: 0 auto; }

  .greyContentAreaForm .row label {
    text-align: left; }

  .footer .footerTop {
    background: #fff;
    position: relative;
    padding: 25px 0; }
    .footer .footerTop .footerLogo {
      width: 38px;
      position: absolute;
      left: 11%;
      top: 0px; }
    .footer .footerTop .footerCopyright {
      position: absolute;
      width: 100%;
      left: 0%;
      top: 0px; }
      .footer .footerTop .footerCopyright p {
        text-align: center; }
    .footer .footerTop ul {
      text-align: center;
      margin: 50px 0 0 0; }
  .footer .footerBottom {
    background: #f2f2f2;
    padding: 20px 0; }
    .footer .footerBottom .row {
      display: block;
      text-align: center; }
      .footer .footerBottom .row .footerLogo {
        width: 32%;
        display: inline-block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 0 10px 0; } }

/*# sourceMappingURL=skeleton.css.map */
