.padding {
    padding: 100px 0;
}

.padding-thanks {
    padding: 260px 0;
}

.remove-bottom {
    margin-bottom: 0px;
}
.contentArea {
    &.whiteContentArea {
        background: $whiteText;
        h2 {
            color: $h2Blue;
        }
        h3 {
            margin: 0 0 40px 0;
            color: $h2Blue;
            &.body-color-text {
                color: $primary-color;
            }
        }
        p {
            color: $greyPara;
        }
        ul {
           color: $greyPara;
           margin: 0 0 0 20px;
            li {
               list-style: disc; 
            }
        }
    }
    .internalLogos {
        position: relative;
        .scale-with-grid {
            height: auto; 
            margin: 0 auto;
            vertical-align: middle;
        }
        .row {
            .logoColumn {
                padding: 26px 0;
                text-align: center;
                img {
                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                    &.aerLingus {
                       max-width: 125px;
                    }
                    &.BAairlines {
                      max-width: 125px;
                    }
                    &.openSkies {
                      max-width: 110px;
                    }
                    &.flyBelogo {
                      max-width: 60px;
                    }
                    &.iberiaLogo {
                      max-width: 110px;
                    }
                    &.iberiaLogo {
                      max-width: 110px;
                    }
                    &.kululalogo {
                        max-width: 102px;
                    }
                    &.levelLogo {
                        max-width: 80px;
                    }
                    &.meridianaLogo {
                        max-width: 100px;
                    }
                    &.vuelingLogo {
                        max-width: 75px;
                    }
                }
                
            }
        }
        .sideLogo {
            width: 100px; 
            margin: 0 auto;
            padding: 70px 0;
        }
        &:before {
            content: '';
            width: 109px;
            height: 225px; 
            background: url(../img/flow.svg) no-repeat right top;
            position: absolute; 
            left: 70%;
            top: 2%;
            display: block;
        }
    }
    .icon {
        margin-bottom: 20px;
        max-width: 60px;
        width: 45px;
        img {
            width: 100%;
            height: auto;
        }
        &.iconNumber {
            width: 50px;
            margin-bottom: 12px;
        }
        &.iconPlane {
           width: 46px;
           margin-bottom: 16px;
        }
        &.iconEarth {
            width: 42px;
        }
        &.iconStar {
            margin-bottom: 17px;
        }
        &.iconPerson {
            width: 38px;
        }
        &.targetIcon {
            width: 50px;
        }
        &.euroIcon {
            width: 42px;
        }
        &.spendIcon {
            margin-bottom: 17px;
        }
    }
    &.greyContentArea {
        background: $greyBackground;
        h3 {
           color: $whiteText; 
        }
        h5 {
           color: $whiteText;  
        }
        p {
          color: $whiteText;
          margin: 0 0 14px 0;
            font-family: 'fs_joey-light';
           &.remove-bottom {
                margin-bottom: 0px;
           }  
        }
    }
    &.blueContentArea {
        p {
            color: $whiteText;
            margin: 0 0 14px 0;
            font-family: 'fs_joey-light';
            &.remove-bottom {
                margin-bottom: 0px;
           }
            &.smallPara {
                margin: 0;
            }
        }
    }
    
}


// Background Image areas

.blueContentAreaBGImageOne {
    @include background-image("Coupleclimbingmountain-478806622new.jpg", center center); 
} 
.blueContentAreaBGImageTwo {
    @include background-image("girloncliffgazing.png", center center); 
}
.blueContentAreaBGImageThree {
    @include background-image("how-to-spend-background.jpg", center center); 
}
.parallaxSection {
    padding: 325px 0;
    .whiteBackground {
        padding: 50px 35px;
        background: rgba(255,255,255, 0.8);
        h4 {
            color: $blueText;
        }
        .buttonAvios {
            color: $blueText;
            border-color: $blueText;
            background: none;
            margin: 0;
            border-width: 2px;
            max-width: 360px;
            &:hover {
                opacity: 1;
                background: $blueText;
                color: $whiteText;
            }
        }
    }
}
.parallaxSectionOne {
    background-image: url(../img/contactless-payment--537499433-COPY.jpg);
    background-position: center center;
}
.parallaxSectionTwo {
    background-image: url(../img/Girl-in-cafe-buying-online-606222520-copy.jpg);
    background-position: center center;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


// Form area styling 

.greyContentAreaForm {
    h5 {
        margin: 0 0 30px 0;
    }
    .row {
        label {
            color: $whiteText;
            line-height: 45px;
            font-weight: 200;
            margin-bottom: 0;
            font-family: 'fs_joey-light' ;
        }
        input {
            width: 100%; 
            height: 45px;
            line-height: 45px;
            padding: 0 10px;
            @include border-radius(4px);
            border: none;
        }
        input[type="submit"] {
            display: block;
            border: 2px solid $whiteText;
            height: 50px;
            color: $whiteText;
            background: rgba(255,255,255,0);
            @include box-sizing;
            width: 100%;
            max-width: 336px;
            margin: 0 auto;
            margin-top: 50px;
            line-height: 46px;
            font-size: 1.188em;
            @include transition(all .3s ease);
            position: relative;
            letter-spacing: 1px;
            @include border-radius(30px);
            font-family: $font-family;
            text-transform: none;
            &:hover {
                background: rgba(255,255,255,.2);
                color: $whiteText;
            }
        }
        .tick {
            width: 26px;
            float: left;
            input {
                width: 20px;
                height: 20px;
                margin: 0px;
            }
        }
        .tickLabel {
            label {
                font-size: 0.750em;
                line-height: 1.2em;
            }
        }
        .error{
            margin: 0px;
            color: red;
        }
        .error_show{
            color: red;
        }
    }
    .errorMessages {
        li {
            list-style: none;
            margin: 0 0 10px 0;
            color: red;
        }
    }
    .successMessage {
        ul {
            text-align: center;
            li {
                display: inline-block;
                margin: 0 10px 0 0;
                color: $whiteText;
                font-size: 1em;
                line-height: 1em;
                a {
                    color: $yellowLink;
                    text-decoration: none;
                }
            }
        }
    }
}

// Results page styling

.resultsContent {
    .header {
        padding: 50px 0 0 0;
        .logo {
            width: 100%; 
            max-width: 130px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
    h1 {
        color: $h2Blue; 
        text-align: center;
    }
    .downloadListing {
        padding: 50px;
        table {
            width: 100%;
            tr {
                th {
                   color: $h2Blue;
                   font-size: 0.875em;
                   border: none;
                }
                td {
                   color: $h2Blue;
                   font-size: 0.875em;
                   border: none; 
                }
            }
        }
    }
}

// table styling for legal pages 

.legal {
    table {
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
        border: 0px;
        margin: 0 0 20px 0;
        td {
            border: 1px solid #EAEEED;
            background-color: #FFF;
        }
        .header {
            td {
                font-family: 'fs_joey';
                color: #1f91ca;
                text-align: center;
                font-size: 20px;
                padding: 27px 0;
                width: 33.33%;
            }
        }
        .grey {
            td {
                background-color: #f5f5f5;
                vertical-align: top;
                 p {
                    margin: 18px 27px;
                    font-size: 0.938em;
                }
            }
        }
    }
}















