// Footer styles go here

.footer {
    .footerTop {
        padding: 40px 0;
        background: $footerBackground;
        ul {
            margin: 10px 0 0 0;
            li {
                border-left: 1px solid #9195a9;
                list-style: none;
                display: inline-block;
                margin: 0;
                &:first-of-type {
                    border-left: 0px;
                    a {
                        padding-left: 0px;
                    }
                }
                a {
                    padding: 0 10px;
                    font-size: 0.750em;
                    line-height: 1em;
                    display: block;
                    color: $footerLinks;
                    text-decoration: none;
                    font-family: 'Titillium Web', sans-serif;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        p {
            font-size: 0.750em;
            text-align: right;
            line-height: 1em;
            margin: 20px 0 0 0;
        }
    }
    .footerBottom {
        padding: 60px 0;
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            .footerLogo {
                width: 10%;
                padding: 0 10px;
                text-align: center;
                img {
                    margin: 0 auto;
                }
                .FlyBeLogo {
                    max-width: 50px;
                    
                }
            }
        }
    }
}