// Header Styles Go in Here
@keyframes arrow{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}


.buttonAvios {
    display: block; 
    border: 2px solid $whiteText;
    color: $whiteText;
    background: rgba(255,255,255,0);
    @include box-sizing;
    width: 100%;
    max-width: 336px;
    margin: 0 auto;
    font-size: 1.188em;
    line-height: 1em;
    padding:18px 60px; 
    @include transition(all .3s ease);
    position: relative;
    letter-spacing: 1px;
    @include border-radius(30px);
    font-family: $font-family;
    &:hover {
//        opacity: 1;
        background: rgba(255,255,255,.2);
        color: $whiteText;
    }
    &.buttonHidden {
        display: none;
        text-align: center;
    }
    .arrow {
        border: solid #001F4D;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        &.down {
                transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        }
    }
}
.hidden {
    display: none;
}

.paraxify{
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}


#cookie-law {
    top: 0px;
    width: 100%;
    padding: 10px 0;
    background: $whiteText;
    z-index: 2;
    p {
        margin: 0px;
    }
}

.header-thanks{ padding:0 !important}

.header {
    position: relative;
    padding: 260px 0;
    &.removePadding {
        padding: 0px;
    }
    // Fixed Nav Styling
    .nav {
        position: absolute; 
        left: 0px; 
        top: 0px;
        width: 100%;
        padding: 5px 0;
        @include transition(all .3s ease);
        z-index: 1;
        ul {
            text-align: center;
            li {
                border-left: 1px solid #9195a9;
                list-style: none;
                display: inline-block;
                &:first-of-type {
                    border-left: none;
                }
                &.noBorder {
                    border-left: none;
                }
                &.borderRight {
                   border-right: 1px solid #9195a9; 
                }
                .altStyling & {
                   border-color:$whiteText; 
                }
                a {
                    padding: 0 18px;
                    display: block;
                    vertical-align: middle;
                    color: $whiteText;
                    font-size: 1.125em;
                    line-height: 1em;
                    font-family: 'fs_joey-light';
                    &:hover {
                        color: $footerLinks;
                        @include transition(all .3s ease);
                    }
                }
                .logo {
                    width: 90px;
                    vertical-align: middle;
                    @include transition(all .3s ease);
                    display: inline;
                }
            }
        }
        .mobileLogo {
            display: none;
        }
    }
     &.scrolled {
         .nav {
             background: $whiteText;
             padding: 10px 0;
             position: fixed;
             ul {
                 li {
                     a {
                        color: $altLinks; 
                     }
                     .logo {
                        width: 70px;
                        vertical-align: middle;
                    }
                     .altStyling & {
                       border-color:#9195a9; 
                    }
                 }
             }
         }
    }
    .headerContent {
        h1 {
            color: $whiteText;
            margin: 0 0 30px 0;
        }
        p {
           color: $whiteText; 
            margin: 0 0 90px 0;
            padding: 0 45px;
        }
        .downArrow {
            position: absolute; 
            left: 0px; 
            bottom: 50px;
            width: 100%;
            .arrows {
                width: 60px;
                height: 35px;
                margin: 0 auto;
                path {
                    stroke: $whiteText;
                    fill: transparent;
                    stroke-width: 1px;	
                    animation: arrow 2s infinite;
                    -webkit-animation: arrow 2s infinite; 
                    &.a1 {
                        animation-delay:-1s;
                       -webkit-animation-delay:-1s; /* Safari 和 Chrome */
                    }
                }

            }
        }
        
    }
    .backgroundVideo {
        position: absolute; 
        left: 0px; 
        top: 0px;
        width: 100%; 
        height: 100%;
        z-index: -1;
    }
    
    // Mobile nav icon styling
    #nav-icon {
      display: none;
      width: 24px;
      height: 20px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      position: absolute; 
      right: 10px;
      top: 30px;
      z-index: 5;
        span {
           display: block;
           position: absolute;
           height: 4px;
           width: 100%;
           background: $blackColor;
           opacity: 1;
           left: 0;
           -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
           -o-transform: rotate(0deg);
           transform: rotate(0deg);
           -webkit-transition: .25s ease-in-out;
           -moz-transition: .25s ease-in-out;
           -o-transition: .25s ease-in-out;
           transition: .25s ease-in-out; 
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 9px;
            }
            &:nth-child(3) {
                top: 9px;
            }
            &:nth-child(4) {
                top: 18px;
            }
        }
        &.open {
            span {
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                   -webkit-transform: rotate(45deg);
                      -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                           transform: rotate(45deg); 
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                       -moz-transform: rotate(-45deg);
                         -o-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
    
}

.internalHeroImage {
    position: relative;
    width: 100%;
    height: auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    margin: 0 auto;
    img {
        position: relative;
        z-index: 1;
    }
    .overlay {
        position: absolute;
        bottom: -2px;
        left: -40%;
        width: 180%;
        height: 100%;
        z-index: 2;
        pointer-events: none;
        svg {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}


// Language bar 
.languageBar {
    width: 130px;
    position: absolute;
    top: 1px;
    right: 20px;
    .selectize-control {
       position: relative;
        &.selectize-input {
            position: relative;
        }
    }
    .selectize-input {
        padding: 8px;
        width: 100%;
        overflow: hidden;
        z-index: 1;
        box-sizing: border-box;
        color: $whiteText;
        font-size: 0.875em;
        position: relative;
        span {
            display: inline;
        }
        img {
           display: inline; 
        }
        input {
            display: none;
        }
        &:after {
            content: ' ';
            display: block;
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -3px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0;
            border-color: grey transparent transparent;
        }
        &.open {
            &:after {
                -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }
    .selectize-dropdown {
        @extend .selectize-input;
        border-top: 1px solid $whiteText;
        a {
           color: inherit; 
        }
        &:after {
            display: none;
        }
    }
}

