@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
            border-radius: $radius;
}

@mixin box-sizing() {
    -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}

@mixin background-image($img, $background-position) {
    background-image: url('../img/#{$img}');
    background-repeat: no-repeat;
    background-position: $background-position;
    background-size: cover;
} 