// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Fonts
@mixin fontFace($family,$src,$weight: normal,$style: normal) {
	
	@font-face {
		font-family: $family;
		src: url('#{$src}.eot'); // IE9 compat
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
		url('#{$src}.woff') format('woff'), // standards
		url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
		url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

			font-style: $style;
			font-weight: $weight;
		}
	
}

@include fontFace('fs_joey', 'fonts/fs_joey/fs_joey');
@include fontFace('fs_joey-light', 'fonts/fs_joey-light/fs_joey-light');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');

$font-family: fs_joey;


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

body {font-family: $font-family; }

h1 { font-size: 4.250em; line-height: 1.2;  font-family: 'fs_joey-light' ; }
h2 { font-size: 2.750em; line-height: 1.25; font-family: 'fs_joey-light' ; }
h3 { 
    font-size: 2.250em; line-height: 1.3; font-family: 'fs_joey-light' ;
    .legal & {
        font-size: 1.250em;
        margin: 0 0 20px 0!important;
        font-family: 'fs_joey';
    }
}
h4 { font-size: 1.875em; line-height: 1.35; font-family: 'fs_joey-light' ; }
h5 { font-size: 1.125em; line-height: 1em; font-family: 'fs_joey';  }
h6 { font-size: 1.5rem; line-height: 1.6; }

p {
    font-size:1.000em; line-height: 1.4em; margin-bottom:14px;
    &.smallPara {
        font-size: 0.750em;
    }
}
strong {font-family: 'Titillium Web', sans-serif;}

a  {text-decoration: none;}

.text-centered {text-align: center;}


// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
//  h1 { font-size: 5.0rem; }
//  h2 { font-size: 4.2rem; }
//  h3 { font-size: 3.6rem; }
//  h4 { font-size: 3.0rem; }
//  h5 { font-size: 2.4rem; }
//  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0;
}
