// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;


// meadia query breakpoints 
$bp-mobile-portrait: "max-width: 414px" !default;
$bp-mobile-landscape: "max-width: 767px" !default;
$bp-tablet-portrait: "max-width: 768px" !default;
$bp-tablet-between: "max-width: 1000px" !default;
$bp-tablet-landscape: "max-width: 1024px" !default;

// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: #222 !default;

// Typography
//$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 1100px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 30px !default;

// Colors used for avios

$blackColor: #000000;
$whiteText: #fff;
$blueText: #001F47;
$greyBackground: #363636;
$primary-color: #1E1E1E;
$footerBackground: #f2f2f2;
$mobileBlueBackground: #194584;
$h2Blue: #001F4D;

$blueButtonBackground: rgba(26, 183, 234, 1);
$footerLinks: #0099FF;
$altLinks:  #004899;
$buttonBlue: #2bb7e8;
$greyPara: #666666;
$yellowLink: #FFCF2B;