// Media Queries
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Note: The best way to structure the use of media queries is to create the queries
// near the relevant code. For example, if you wanted to change the styles for buttons
// on small devices, paste the mobile query code up in the buttons section and style it
// there.

// Larger than Desktop HD
@media (#{$bp-larger-than-desktophd}) {
    
}

// tablet landscape
@media (#{$bp-tablet-landscape}) {
    .languageBar {
        display: none;
    }
    .paraxify {
        background-attachment: inherit;
    }
}

// Larger than tablet
@media (#{$bp-tablet-between}) {
    .button {
        font-size: 0.75em;
    }
    .hideMobile {
        display: none;
    }
    .header {
        //padding: 0px;
        .nav {
            background: $whiteText;
            padding: 10px 5px 14px 5px;
            @include box-sizing();
            position: fixed;
            .mobileLogo {
                width: 50px;
            }
            #nav-icon {
                display: block;
                position: absolute; 
            }
            .mobileLogo {
                display: block;
            }
        }
        &.scrolled {
            .nav {
                padding: 10px 5px 14px 5px;
            }
        }
        .hiddenNavContainer {
           position: absolute; 
            left: 0px;
            top: 80px;
            display: none;
            background: #090b33;
            padding: 0px;
            @include transition(all .3s ease);
            &.open {
                display: block;
            }
            ul {
                li {
                    text-align: left; 
                    display: block;
                    margin: 0px;
                    &.hiddenMobile {
                        display: none;
                    }
                    a {
                        padding: 18px 30px;
                        &:hover {
                            color: $whiteText;
                        }
                    }
                }
            }
        }
    }
    .parallaxSection {
        padding: 200px 0;
    }
}

// Tablet portrait
@media (#{$bp-tablet-portrait}) {
    .contentArea {
        .internalLogos {
            &:before {
                left: 65%;
            }
        }
    }
    
}


// Larger than mobile
@media (#{$bp-mobile-landscape}) {
    
    .buttonAvios {
        font-size: 0.75em;
        max-width: 70%;
        padding: 10px;
        &.buttonHidden {
            display: block;
            border-color: $h2Blue;
            color: $h2Blue;
        }
    }
    .hiddenMobile {
        display: none;
        &.show {
            display: block;
        }
    }
    // Header styles go here
    .header {
        padding: 0px;
        .backgroundVideo {
            position: relative;
            width: 100%;
            height: 200px;
            background: url(../img/video/headerVideo.png) no-repeat center center;
            background-size: cover;
            z-index: 0;
            margin-top: 83px;
            div {
                display: none;
            }
        }
        .headerContent {
            padding: 20px 0;
            border-bottom: 1px dotted $greyPara;
            h1 {
                color: $primary-color;
                font-size: 1.375em;
                margin: 0 0 15px 0;
            }
            p {
                color: $primary-color;
                font-size: 0.688em;
                margin: 0 0 15px 0;
                padding: 0;
            }
            .buttonAvios {
                border-color: $primary-color;
                color: $primary-color;
            }
            .downArrow {
                display: none;
            }
        }
        .hiddenNavContainer {
           position: absolute; 
            left: 0px;
            top: 80px;
            display: none;
            background: #090b33;
            padding: 0px;
            &.open {
                display: block;
            }
            ul {
                li {
                    text-align: left; 
                    display: block;
                    margin: 0px;
                    &.hiddenMobile {
                        display: none;
                    }
                    a {
                        padding: 18px 30px;
                        &:hover {
                            color: $whiteText;
                        }
                    }
                }
            }
        }
    }
    .internalHeroImage {
        margin-top: 75px;
    }
    // Content areas
    .contentArea {
        &.padding {
            padding: 50px 0;
        }
        h2 {
            font-size: 1.625em;
        }
        h3 {
            font-size: 1em;
        }
        p {
            font-size: 0.875em;
        }
        .internalLogos {
            .row {
                .logoColumn {
                    //width: 33%; 
                    img {
                        max-width: 70%;
                        width: 70%;
                    }
                }
            }
            
            .sideLogo {
                padding-bottom: 0px;
            }
        }
        &.whiteContentArea {
            h3 {
                margin: 0 0 15px 0;
            }
        }
        &.blueContentArea {
            background: $mobileBlueBackground;
            background-image: none!important;
            text-align: center;
            padding-bottom: 0px;
            .icon {
                margin: 0 auto;
                margin-bottom: 20px;
                width: 60px;
            }
            p {
            }
        }
        &.greyContentArea {
            text-align: center;
            .mobileBox {
                margin-bottom: 0px; 
                border-bottom: none;
            }
        }
        &.blueContentArea {
            .smallPara {
                margin: 0 0 40px 0!important;
            }
        }
        
    }
    .mobileDivider {
        width: 100%;
        height: 10px;
        background: #f7f7f7;
    }
    // Change of style for parallax sections
    .parallaxSection {
        .six {
            &.columns {
                width: 100%;
                margin: 0px;
            }
        }
        &.parallaxSectionOne {
            padding: 300px 0 20px 0;
            background-attachment: inherit;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top center;
            background-color: #f7f7f7;
            .whiteBackground {
                background: $whiteText;
                text-align: center;
                .button {
                    margin: 0 auto;
                }
            }
        }
        &.parallaxSectionTwo {
            padding: 300px 0 20px 0;
            background-attachment: inherit;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top center;
            background-color: #f7f7f7;
            .whiteBackground {
                background: $whiteText;
                text-align: center;
                .button {
                    margin: 0 auto;
                }
            }
        }
    }
    // Form Styling
    .greyContentAreaForm {
        .row {
            label {
                text-align: left;
            }
            .tick {
                display: table-cell;
            }
            .tickLabel {
                 display: table-cell;
            }
        }
    }
    
}

@media (#{$bp-mobile-portrait}) {
    .button {
        max-width: 100%;
    }

    // Content areas
    .contentArea {
        &.padding {
            padding: 50px 0;
        }
        h2 {
            font-size: 1.625em;
        }
        h3 {
            font-size: 1em;
        }
        p {
            font-size: 0.875em;
        }
        .internalLogos {
            .row {
                .logoColumn {
                    width: 33%; 
                    img {
                        max-width: 70%;
                        width: 70%;
                    }
                }
            }
            &:before {
                background: url(../img/flowHorizontal.svg) no-repeat center bottom;
                width: 90%;
                height: 100px;
                left: 5%; 
                top: 50%;
            }
            .sideLogo {
                padding-bottom: 0px;
            }
        }
        &.whiteContentArea {
            h3 {
                margin: 0 0 15px 0;
            }
        }
        &.blueContentArea {
            background: $mobileBlueBackground;
            background-image: none!important;
            text-align: center;
            padding-bottom: 0px;
            .icon {
                margin: 0 auto;
                margin-bottom: 20px;
                width: 60px;
            }
            p {
            }
        }
        .noPaddingMobile {
            padding: 0px;
            .mobileBox {
                padding: 0 10% 50px 10%;
                border-bottom: 1px solid $whiteText;
                margin: 0 0 50px 0;
                &:last-of-type {
                    border-bottom: none;
                    margin: 0px;
                }
            }
        }
        &.greyContentArea {
            text-align: center;
            .mobileBox {
                margin-bottom: 0px; 
                border-bottom: none;
            }
        }
        &.blueContentArea {
            .smallPara {
                margin: 0 0 40px 0!important;
            }
        }
        
    }
    // Change of style for parallax sections
    .parallaxSection {
        &.parallaxSectionOne {
            padding: 300px 0 20px 0;
            background-attachment: inherit;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top center;
            background-color: #f7f7f7;
            .whiteBackground {
                background: $whiteText;
                text-align: center;
                .button {
                    margin: 0 auto;
                }
            }
        }
        &.parallaxSectionTwo {
            padding: 300px 0 20px 0;
            background-attachment: inherit;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top center;
            background-color: #f7f7f7;
            .whiteBackground {
                background: $whiteText;
                text-align: center;
                .button {
                    margin: 0 auto;
                }
            }
        }
    }
    // Form Styling
    .greyContentAreaForm {
        .row {
            label {
                text-align: left;
            }
        }
    }
    // Footer Styling 
    .footer {
        .footerTop {
            background: $whiteText;
            position: relative;
            padding: 25px 0;
            .footerLogo {
                width: 38px;
                position: absolute;
                left: 11%;
                top: 0px;
            }
            .footerCopyright {
                position: absolute;
                width: 100%;
                left: 0%;
                top: 0px;
                p {
                    text-align: center;
                }
            }
            ul {
                text-align: center;
                margin: 50px 0 0 0;
            }
        }
        .footerBottom {
            background: $footerBackground;
            padding: 20px 0;
            .row {
                display: block;
                text-align: center;
                .footerLogo {
                    width: 32%;
                    display: inline-block;
                    @include box-sizing();
                    margin: 0 0 10px 0;
                }
                
            }
        }
    }
}






